:root {
  --text-color: #f0f4f5;
  --background-color: #8d7485;
  --accent-color: #6c979b;
}

/* 기본설정: 여백 0으로 만들기 */
*{
  margin: 0;
  padding: 0;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Alegreya', serif;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* a:link{
  color: rgb(154, 91, 102);
} */
a:visited{ 
  color: rgb(59, 57, 57); 
}
a:hover{
  color: pink;
}
a:active{
  color: #6c979b;
}
header {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  
}
.header-a {
  margin-left: 10px;
  font-size: 30px;
}
.header-a i {
  font-size: 30px;
  color: var(--accent-color);
}
.header-b {
  list-style: none;
  display: flex;
  font-size: 25px;
}
.header-b li {
  padding: 8px 12px;
}
.header-b li:hover {
  background-color: var(--accent-color);
  border-radius: 10px;
}
.header-c {
  list-style: none;
  display: flex;
  font-size: 25px;
}
.header-c li {
  padding: 8px 12px;  
}
.header-d {
  position: absolute;
  right: 32px;
  color: var(--accent-color);
  display: none;
}
.fas,
.fab {
  color: white;
  font-size: 30px;
}
section{
  display: flex;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  /* background-color: aliceblue; */
}
.main{
  width: 600px;
  height: 450px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 30px;
  background-color: rgb(253, 240, 247);
}
.cTitle{
  font-size: 70px;
  font-weight: bolder;
  color: rgb(112, 62, 80);
}
.cLogo{
  margin-bottom: 10px;
}
.cContent{
  display: flex;
  justify-content: center;
}
.cPDF,
.cDEMO,
.cREPO{
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(112, 62, 80);
}
.cContact{
  font-size: 18px;
  color:rgb(112, 62, 80);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* 반응형 */
@media screen and (max-width:800px){
  header{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .header-b{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header-b li{
    width: 100%;
    text-align: center;
  }
  .header-c {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .header-d {
    display:block ;
  }
  .header-b.active,
  .header-c.active {
    display: flex;
  }
}
