<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">ABOUT ME</div>
            <p class="paragraph-text justify-text">
                &nbsp;안녕하세요. 신입 개발자 김소라입니다. 5개월간의 울산KH정보교육원의 멀티디바이스융합 JAVA 디지털컨퍼런스과정을 수료하고 개발자가 되기 위해 준비 중입니다. 비록 비전공자이고 적지 않은 나이지만 매일 공부하고 자기 '개발'에 힘써서 점점 발전하는 개발자가 될 것입니다.
            </p>
            <p class="paragraph-text justify-text">
                &nbsp;2021년 9월 1년 7개월간 몸담았던 직장을 떠나게 된 건 '개발자'가 되고자 하는 꿈이 생겼기 때문입니다. 처음으로 가족들에게 꿈에 대한 이야기를 꺼냈을 때 다들 우려의 목소리가 컸습니다. 늦은 나이에 기존에 몸담고 있던 분야와 전혀 다른 분야의 일을 할 수 있겠냐는 것이었습니다. 
                   
            </p>
            <p class="paragraph-text justify-text">
                &nbsp;가족, 지인들뿐만 아니라 향후 동료로서 같이 일하게 될 분들께서도 가장 우려하실 부분이라고 생각합니다. 사람마다 다르겠지만 전 직장에서 업무를 하면서 느낀 저 자신은 무조건 일을 열심히, 꾸준히 해야 자아실현을 이룰 수 있는 사람이라는 것이었습니다. 그렇기 때문에 저는 개발자가 되고자 다짐한 순간부터 개발 능력 향상을 최우선 목표로 두고, 이를 달성하기 위해 매진하고 있습니다. 글로써 제 의지를 모두 보여드리기에는 투박하고, 유려하지 못해 아쉬워 재차 말씀드리자면 저는 꼭 개발자가 되고 싶습니다. 개발자가 되기 위해 노력을 멈추지 않을 것이며 가장 큰 목표로 생각합니다.
            </p>
            <p class="section-href">
                <a href="https://drive.google.com/file/d/1x8Pa6VOBY0O7C5sFi30w6h2Dby6mowEL/view?usp=sharing" target="_blank">RESUME(PDF)</a>
            </p>
            <p class="section-position">
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#skills">SKILLS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#projects">PROJECT</a><a href="#extra">CONTACT ME</a>
            </p>
        </div>
    </section>
</div>
