<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">ABOUT ME</div>
            <p class="paragraph-text justify-text">
                &nbsp;안녕하세요. 신입 개발자 김소라 입니다. 5개월간의 울산KH정보교육원의 멀티디바이스융합 JAVA 디지털컨퍼런스과정을 수료하고 개발자가 되기 위해 준비중입니다. 비록 비전공자고 적지 않은 나이지만 매일 공부하고 자기 '개발'에 힘써서 점차적으로 발전하는 개발자가 될 것입니다.
            </p>
            <p class="paragraph-text justify-text">
                &nbsp;2021년 9월 1년7개월간 몸담았던 직장을 떠나게 된건 '개발자'란 꿈이 생겼기 때문입니다. 가장 처음으로 가족들에게 꿈을 내비쳤을 땐 다들 우려의 목소리가 컸습니다. 
                 신입으로 들어가기에 나이가 많은, 32세 여성이 할 수 있겠냐는 것이었습니다. 
                   
            </p>
            <p class="paragraph-text justify-text">
                &nbsp;가족, 지인들 뿐만 아니라 같이 일하려는 사람들에게도 가장 걱정하는 부분이라고 생각합니다. 
                 사람마다 다르겠지만 전 직장에서 업무를 하면서 느낀 저 자신은 무조건 일을 열심히, 꾸준히 해야 자아실현이 이루어진다는 것입니다. 그렇기 때문에 저는 개발자가 되고자 마음먹은 이상 개발 업무를 최우선적으로 두고,
                 그 외의 보통의 일반적인 계획들은 접어두기로 다짐했습니다. 글로 의지를 보여주기에는 투박하고, 유려하지 못해 아쉬워 재차 말씀드리자면 저는 꼭 개발자가 되고 싶습니다. 개발자가 되기 위해 노력을 멈추지 않을것이며 
                 가장 큰 목표로 생각합니다.
            </p>
            <p class="section-href">
                <a href="https://drive.google.com/file/d/1e1oE5HNYe-pUhpbSEhyFxenMn5qUD7P6/view?usp=sharing" target="_blank">RESUME(PDF)</a>
            </p>
            <p class="section-position">
                <a href="#extra">CONTACT ME</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#skills">SKILLS</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#projects">PROJECT</a></span> 
            </p>
        </div>
    </section>
</div>
