
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        <div class="skills-content">
                            <div>
                                <div>1. JAVA/JS/JQUERY</div>
                                <div>&nbsp;</div>
                                <li>JAVA, JS 기본문법 및 이해</li>
                                <!-- <li>함수기능 구현</li> -->
                                <li>기본내장 객체 구현. 예외처리 가능</li>
                                <li>THYMELEAF 구현</li>
                                <li>JQUERY 이벤트</li>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </div>
                            <div>
                                <div>2. HTML/CSS</div>
                                <div>&nbsp;</div>
                                <li>HTML/CSS 기본 태그 활용</li>
                                <li>BOOTSTRAP 활용</li>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </div>
                            <div>
                                <div>3. ORACLE</div>
                                <div>&nbsp;</div>
                                <li>SQL 쿼리 작성</li>
                                <li>ORACLE DB 관리</li>
                                <li>웹과 데이터베이스 연동</li>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </div>
                            <!-- <div>
                                <div>4. ANDROID</div>
                                <div>&nbsp;</div>
                                <li>안드로이드 개요 및 기본구성</li>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </div> -->
                            <div>
                                <div>4. TOOLS</div>
                                <div>&nbsp;</div>
                                <li>POSTMAN, JUNIT 테스트 툴 활용</li>
                                <li>OPEN API 활용</li>
                                <li>GITHUB 형상관리 툴 활용</li>
                                <div>&nbsp;</div>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JAVA</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>HTML/CSS</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JAVASCRIPT</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>ORACLE</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JQUERY</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9"><span>ANDROID</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!--End Skill Bar-->

                        <!-- <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2980b9"><span>InfoSec</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>